# Deployed Contract Address
NEXT_PUBLIC_CONTRACT_ID=CONTRACT_ADDRESS_HERE

# Payment Token Contract Address (Stellar Asset Contract address on Testnet for XLM)
NEXT_PUBLIC_TOKEN_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC

# Active Stellar Network
NEXT_PUBLIC_NETWORK=testnet

# Soroban RPC Endpoint URL
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org

# Network Passphrase for signing verification
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
